<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Template Tag Example</h1>
    <table id="templatetable">
  <thead>
    <tr>
      <td>S.No</td>
      <td>State</td>
      <td>Capital</td>
    </tr>
  </thead>
  <tbody>
    </tbody>
</table>

<template id="templaterow">
  <tr>
    <td ></td>
    <td></td>
    <td></td>
  </tr>
</template> 
    <script src="script.js"></script>
  </body>
</html>